body,html{
    font-family: arial, helvetica, sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:url(fondo.jpg) center center;
    background-size: cover;
}
.contenedor{
    text-align: center;
    padding: 20px;
    background-color: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.boton-redireccion{
    background-color: #e02611;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 5px;
    text-decoration: none;
}
.boton-redireccion:hover{
    background-color: #66150d;
}